---
import { getCollection } from "astro:content";
import BlogPostCard from "@/components/BlogPostCard.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="My Own Blog Posts">
  <Section title="My Blog Posts">
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
      {
        posts.map((post) => (
          <BlogPostCard
            slug={post.id}
            title={post.data.title}
            excerpt={post.data.description}
            date={post.data.pubDate}
          />
        ))
      }
    </div>
  </Section>
</Layout>
