---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import Skills from '@/components/sections/skills.tsx';
import Experience from '@/components/sections/experience.tsx';
---

<Layout title="Rizky Rafi">
  <div class="font-base">
    <h1 class="mb-8 text-2xl font-heading sm:text-4xl">About</h1>
    <div class="mb-10 text-base sm:text-lg">
      <p>
        Hi, I'm Rizky Rafi Azhara, a software engineer with a strong focus on
        frontend development. My background is from software engineering of
        vocational school, and I have been working in the industry for more than
        2 years.
      </p>
    </div>
    <div class="mb-10 text-base sm:text-lg">
      <p>
        My journey in the software engineering began when pursuing a vocational
        school and learning about web development. Over the years, I've honed my
        skills in fronten development like HTML, CSS, and JavaScript. I also
        have experience with modern frontend frameworks like React and Vue.
      </p>
    </div>
    <Skills client:load />
    <Experience client:load />
  </div>
</Layout>
