---
type Props = {
  title: string;
};
const { title = "Title" } = Astro.props;
---

<div
  class="bg-white flex items-center justify-center leading-none pt-2 pb-1 text-center select-none rounded-2xl px-5 font-semibold text-black w-fit"
>
  <span>{title}</span>
</div>
