---
import { SITE_TITLE, NAV_LINKS as links } from "@/consts";
---

<nav class="w-full !z-[9999] py-5 px-4 bg-black/90 backdrop-blur-sm">
  <div
    class="w-full grid gap-4 md:px-5 place-items-center grid-cols-1 md:flex md:justify-between md:px-4"
  >
    <a href="/">
      <div
        id="logo"
        class="pt-2 pb-1 !grid !place-items-center select-none leading-none hover:bg-black bg-white scale-110 hover:text-white text-black px-4 transition-all ease-in-out"
      >
        {SITE_TITLE}
      </div>
    </a>
    <div class="flex flex-wrap gap-4 md:pr-5">
      <div class="hidden md:block">/</div>
      {
        links.map((link) => {
          const href =
            link.href ?? link.title.toLowerCase().replaceAll(" ", "-");
          const pathname = Astro.url.pathname.replace(
            import.meta.env.BASE_URL,
            "",
          );
          const subpath = pathname.match(/[^\/]+/g);
          const isActive =
            href === pathname || href === "/" + (subpath?.[0] || "");
          return (
            <>
              <a
                class:list={[{ "bg-white text-black": isActive }]}
                class="hover:bg-white hover:text-black transition-all ease-in-out px-2 max-w-fit"
                href={`/${href}`}
              >
                <div>{link.title}</div>
              </a>
              <div class="hidden md:block">/</div>
            </>
          );
        })
      }
    </div>
  </div>
</nav>

<script>
  window.addEventListener("scroll", () => {
    const logo = document.getElementById("logo");
    if (!logo) return;
    if (window.scrollY > 100) {
      logo.className =
        "pt-2 pb-1 !grid !place-items-center select-none leading-none hover:bg-white bg-black scale-100 hover:text-black text-white px-4 transition-all ease-in-out";
    } else {
      logo.className =
        "pt-2 pb-1 !grid !place-items-center select-none leading-none hover:bg-black bg-white scale-110 hover:text-white text-black px-4 transition-all ease-in-out";
    }
  });
</script>
