---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/Date.astro";
import Layout from "@/layouts/Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout>
  <article class="pb-10 grid place-items-center grid-cols-1">
    <div class="w-full grid place-items-center my-10 px-10 overflow-x-hidden">
      {
        heroImage && (
          <img src={heroImage} alt="hero-image" class="rounded-2xl" />
        )
      }
    </div>
    <div
      class="prose !max-w-[90vw] overflow-x-hidden !break-words brightness-110 prose-img:scale-90 prose-img:rounded-2xl prose-invert prose-hr:border-white prose-hr:bg-white px-4 md:px-0 md:max-w-4xl"
    >
      <div>
        <div>
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</Layout>
