---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<html lang="en" class="!overflow-x-hidden">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-black text-white tracking-wide !overflow-x-hidden">
    <header class="fixed top-0 w-screen z-[9999]"><Navbar /></header>
    <main class="pt-28 md:pt-20"><slot /></main>
    <footer class="w-screen bottom-0 overflow-x-hidden"><Footer /></footer>
  </body>
</html>
