---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from '@/components/Header.tsx';

const url = new URL(Astro.request.url);
const pathname = url.pathname;
import '@fontsource/montserrat/500.css';
import { ViewTransitions } from 'astro:transitions';
import { SEO } from 'astro-seo';
const ogImage = `${Astro.site?.origin}/og/${pathname.split('/')[1]}.png`;
import '@/styles/globals.css';
import ThemeHeadScript from '@/components/theme-head-script.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description="My personal website."
      openGraph={{
        basic: {
          title: title,
          type: 'website',
          image: ogImage,
        },
      }}
      extend={{
        link: [
          { rel: 'icon', href: '/favicon.svg' },
          { rel: 'sitemap', href: '/sitemap-index.xml' },
        ],
        meta: [
          {
            name: 'charset',
            content: 'UTF-8',
          },
          {
            name: 'description',
            content: 'My personal website.',
          },
          {
            name: 'viewport',
            content: 'width=device-width',
          },
          {
            name: 'generator',
            content: Astro.generator,
          },
          // Facebook
          {
            name: 'og:url',
            content: Astro.site?.origin,
          },
          {
            name: 'og:type',
            content: 'website',
          },
          {
            name: 'og:title',
            content: title,
          },
          {
            name: 'og:image',
            content: ogImage,
          },
          {
            name: 'og:description',
            content: 'My Personal Website',
          },
          // Twitter
          {
            name: 'twitter:card',
            content: 'summary_large_image',
          },
          {
            name: 'twitter:domain',
            content: Astro.site?.hostname,
          },
          {
            name: 'twitter:url',
            content: Astro.site?.origin,
          },
          {
            name: 'twitter:title',
            content: title,
          },
          {
            name: 'twitter:description',
            content: 'My Personal Website',
          },
          {
            name: 'twitter:image',
            content: ogImage,
          },
        ],
      }}
    />
    <ViewTransitions />
    <ThemeHeadScript />
  </head>
  <body class="font-montserrat dark:bg-darkBg">
    <Header client:load path={pathname} />
    <div class="text-text dark:text-darkText mx-auto w-[750px] max-w-full px-5 pb-10 pt-28">
      <slot />
    </div>
  </body>
</html>
